<h3><a href="{{ pathto(root_doc)|e }}">{{ _('Modules and Links') }}</a></h3>
{{ toctree(includehidden=theme_globaltoc_includehidden, collapse=theme_globaltoc_collapse, maxdepth=theme_globaltoc_maxdepth) }}
